alembic
annotated-types
anyio
APScheduler
bcrypt
beautifulsoup4
blinker
certifi
cffi
charset-normalizer
click
colorama
cryptography
curl_cffi
deprecation
distro
ecdsa
fastapi
Flask
Flask-APScheduler
Flask-SQLAlchemy
frozendict
greenlet
h11
h2
hpack
httpcore
httptools
httpx
hyperframe
idna
itsdangerous
Jinja2
jiter
lxml
Mako
MarkupSafe
multitasking
mysql-connector-python
openai
packaging
passlib
peewee
pillow
platformdirs
postgrest
# psycopg2-binary  # MySQL만 사용한다면 이 줄은 삭제하거나 #으로 주석 처리하세요.
pyasn1
pycparser
pydantic
pydantic-settings
pydantic_core
PyJWT
PyMuPDF
pytesseract
python-dateutil
python-dotenv
python-jose
python-multipart
pytz
PyYAML
realtime
requests
rsa
six
sniffio
soupsieve
SQLAlchemy
starlette
storage3
StrEnum
supabase
supabase_auth
supabase_functions
tqdm
typing-inspection
typing_extensions
tzdata
tzlocal
urllib3
uvicorn
watchfiles
websockets
Werkzeug
yfinance