{% macro guide_popup_modal(modal_id, close_btn_id, image_filename, alt_text='이용가이드') %}
<div id="{{ modal_id }}" class="modal">
    <div class="modal-content" style="max-width: 800px; text-align: center;">
        <span class="close-btn" id="{{ close_btn_id }}" style="z-index: 1051;">&times;</span>
        <img src="{{ url_for('static', filename=image_filename) }}" class="img-fluid" alt="{{ alt_text }}">
    </div>
</div>
{% endmacro %}

{% macro how_to_use_carousel_modal(modal_id, close_btn_id, carousel_id, images) %}
<div id="{{ modal_id }}" class="modal">
    <div class="modal-content modal-fullscreen">
        <span class="close-btn" id="{{ close_btn_id }}" data-dismiss="modal" style="z-index: 1060; top: 20px; right: 20px; color: white; text-shadow: 0 0 5px black;">&times;</span>
        
        <div id="{{ carousel_id }}" class="carousel slide h-100" data-interval="false">
            <div class="carousel-inner h-100">
                {% for image in images %}
                <div class="carousel-item h-100 {% if loop.first %}active{% endif %}">

                    <img src="{{ url_for('static', filename=image.src) }}" class="d-block">

                </div>
                {% endfor %}
            </div>
            <a class="carousel-control-prev" href="#{{ carousel_id }}" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            </a>
            <a class="carousel-control-next" href="#{{ carousel_id }}" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
            </a>
        </div>
    </div>
</div>
{% endmacro %}